.mediaViewInfo {
	--web-view-name: result_htype;
	--web-view-id: result_htype;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: result_htype;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#result_htype {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: result_htype;
	--web-view-id: result_htype;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
#n_220 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: -9.18px;
	overflow: visible;
}
#n_50 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_ {
	left: 110.858px;
	top: 310.017px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 020;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(43,46,52,1);
}
#n_74 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_34 {
	fill: rgba(255,255,255,1);
}
.n_34 {
	overflow: visible;
	position: absolute;
	width: 105.623px;
	height: 22.414px;
	left: 1701.914px;
	top: 302.917px;
	transform: matrix(1,0,0,1,0,0);
}
#n__ {
	left: 1703.649px;
	top: 306.796px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 030;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,113,117,1);
}
#Text {
	left: 1796.257px;
	top: 309.796px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 040;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(111,113,117,1);
}
#Group {
	position: absolute;
	width: 144.492px;
	height: 20px;
	left: 139.008px;
	top: 144.465px;
	overflow: visible;
}
#n___u {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 030;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(6,6,11,1);
}
#Text_v {
	left: 138.492px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 7px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 030;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,46,52,1);
}
#n__w {
	left: 110.858px;
	top: 918.864px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 020;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(43,46,52,1);
}
#n_75 {
	position: absolute;
	width: 1697.272px;
	height: 1px;
	left: 110.858px;
	top: 292.306px;
	overflow: visible;
}
#n_35 {
	fill: rgba(0,0,0,0);
	stroke: rgba(154,155,159,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_35 {
	overflow: visible;
	position: absolute;
	width: 1697.272px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_79 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n__ba {
	left: 110.858px;
	top: 973.614px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 020;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(43,46,52,1);
}
#Group_ {
	position: absolute;
	width: 17px;
	height: 75.134px;
	left: 358.08px;
	top: 921.159px;
	overflow: visible;
}
#Text_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 030;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,46,52,1);
}
#Text_ba {
	left: 0px;
	top: 55.134px;
	position: absolute;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 030;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(43,46,52,1);
}
#n_80 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 956.653px;
	overflow: visible;
}
#n_37 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_37 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_81 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 1011.653px;
	overflow: visible;
}
#n_38 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_38 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_82 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 346.926px;
	overflow: visible;
}
#n_39 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_39 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.75px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_83 {
	position: absolute;
	width: 1px;
	height: 787.817px;
	left: 400.125px;
	top: 294.306px;
	overflow: visible;
}
#n_40 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_40 {
	overflow: visible;
	position: absolute;
	width: 0.25px;
	height: 787.817px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_85 {
	position: absolute;
	width: 390.815px;
	height: 305px;
	left: 482.208px;
	top: 352.794px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: 3dhop.html;
	cursor: pointer;
}
#n_131 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_132 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 859.278px;
	overflow: visible;
}
#n_43 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_43 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_133 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 817.278px;
	overflow: visible;
}
#n_44 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_44 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_134 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 775.278px;
	overflow: visible;
}
#n_45 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_45 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_135 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 733.278px;
	overflow: visible;
}
#n_46 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_46 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_136 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 693.778px;
	overflow: visible;
}
#n_47 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_47 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.25px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_137 {
	position: absolute;
	width: 264.142px;
	height: 1px;
	left: 110.858px;
	top: 901.278px;
	overflow: visible;
}
#n_48 {
	fill: rgba(0,0,0,0);
	stroke: rgba(43,46,52,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_48 {
	overflow: visible;
	position: absolute;
	width: 264.142px;
	height: 0.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_bq {
	position: absolute;
	width: 11px;
	height: 182px;
	left: 362.429px;
	top: 706.436px;
	overflow: visible;
}
#Text_br {
	left: 0px;
	top: 168px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 010;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(43,46,52,1);
}
#Text_bs {
	left: 0px;
	top: 126px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 010;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(43,46,52,1);
}
#Text_bt {
	left: 0px;
	top: 84px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 010;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(43,46,52,1);
}
#Text_bu {
	left: 0px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 010;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(43,46,52,1);
}
#Text_bv {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 010;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(43,46,52,1);
}
#n_187 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_190 {
	position: absolute;
	width: 274.558px;
	height: 53.633px;
	left: 242.113px;
	top: 0px;
	overflow: visible;
}
#n_193 {
	position: absolute;
	width: 136.248px;
	height: 53.633px;
	left: 110.859px;
	top: 0px;
	overflow: visible;
}
#n_209 {
	position: absolute;
	width: 1920px;
	height: 1098.819px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_211 {
	position: absolute;
	width: 389.882px;
	height: 305px;
	left: 911.997px;
	top: 353.794px;
	overflow: visible;
}
#n_213 {
	position: absolute;
	width: 389.93px;
	height: 305px;
	left: 1340.905px;
	top: 353.794px;
	overflow: visible;
}
#n_215 {
	position: absolute;
	width: 389.882px;
	height: 305px;
	left: 482.142px;
	top: 739.968px;
	overflow: visible;
}
#n_217 {
	position: absolute;
	width: 159.966px;
	height: 302.999px;
	left: 1027.48px;
	top: 739.969px;
	overflow: visible;
}
#n_219 {
	position: absolute;
	width: 390.882px;
	height: 305px;
	left: 1340.905px;
	top: 739.968px;
	overflow: visible;
}
#n_64 {
	fill: rgba(255,255,255,1);
}
.n_64 {
	overflow: visible;
	position: absolute;
	width: 221.623px;
	height: 22.414px;
	left: 1468px;
	top: 302.917px;
	transform: matrix(1,0,0,1,0,0);
}
#n___20_ {
	left: 1492.937px;
	top: 306.796px;
	position: absolute;
	overflow: visible;
	width: 186px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 030;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,113,117,1);
}
#Text_b {
	left: 1678.343px;
	top: 309.796px;
	position: absolute;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: 210 OmniGothic 040;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(111,113,117,1);
}